<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AnyCompany Inc.</title>
  <link rel="stylesheet" href="/static/style2.css">
</head>

<body>
  <header>
    <h2>Any Company Inc - Customer Personas</h2>
    </header>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>x
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>28</td>
        <td>New York</td>
      </tr>
      <tr>
        <td>Jane Smith</td>
        <td>34</td>
        <td>Los Angeles</td>
      </tr>
      <tr>
        <td>Sam Wilson</td>
        <td>23</td>
        <td>Chicago</td>
      </tr>
    </tbody>
  </table>
</body>

</html>