<html>
    <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AnyCompany Inc.</title>
  <link rel="stylesheet" href="/static/style2.css">
</head>
    <body>
         <header>
    <h2>Any Company Inc</h2>
    </header>
    <form action="/personalizedimages" method="post">
      {% autoescape false %}
         {{ data }}
       {% endautoescape %}
      <textarea name="profile" style="display:none;">{{ data | safe | striptags }}</textarea>
    <button type="submit" class="submit-btn" style="float: right;" >Create Personalized Content</button>
  </form>
</body>
</html>