<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AnyCompany Inc.</title>
  <link rel="stylesheet" href="/static/style2.css">
</head>
  <body>
      <header>
      <h2>Any Company Inc - Customer Personas</h2>
      </header>
    <table>
      <thead>
        <tr>
          <th>Select</th>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>Loyalty</th>
          <th>Lifetime Value</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in data %}
            <tr>
              <td><input type="checkbox" name="option1" value="101"></td>
              <td>{{customer[0]}}</td>
              <td>{{customer[1]}}</td>
              <td>{{customer[2]}}</td>
              <td>{{customer[3]}}</td>
              <td>{{customer[4]}}</td>
              <td>{{customer[5]}}</td>
              <td>{{customer[6]}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="/generate">
      <button type="submit" class="submit-btn" style="float: right;" >Generate Profile</button>
    </form>
  </body>
</html>