<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AnyCompany Inc.</title>
        <link rel="stylesheet" href="/static/style2.css"/>
    </head>
    <!--
   <form action="/social">
        <img src="data:image/png;base64,{{ data }}" alt="Personalized Image"/>
        <button type="submit" class="submit-btn" style="float: right;" >Generate Personalized Content</button>
    </form>
-->
    <body>
        <div class="container">
            <h1>Personalized Images</h1>
            <!-- {% for image in data %} -->
             {{ data}}
            <!-- {% endfor %} -->
        </div>
    </body>
</html>