<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AnyCompany Inc.</title>
        <link rel="stylesheet" href="/static/style2.css"/>
    </head>
    <body>
    <form action="/social">
             <div class="container">
                <h1>Personalized Images</h1>
                <img src="data:image/png;base64,{{ data }}" alt="Personalized Image"/>
            </div>
            <button type="submit" class="submit-btn" style="float: right;" >Create Customer Experience</button>
        </form>
        </body>
</html>